:root {
  --background: #252525;
  --orange: #ffa400;
  --red: #fc2933;
  --white: #ffffff;
  --gradient: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  background-color: black;
}

.navbar-header {
  background-color: var(--background);
}

.icono-pizza {
  width: 60%;
}

.section-home {
  margin: 0px 7px 0px 0px;
}

.text-home-nav {
  color: var(--white);
}

.text-home-nav:hover {
  color: var(--orange);
  text-decoration: underline var(--orange) 2px;
  transition: ease-in-out 350ms;
}

.item-home-navbar:hover {
  color: var(--orange);
  text-decoration: underline var(--orange) 2px;
  transition: ease-in-out 350ms;
}

@media (max-width: 756px) {
  .navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
    margin: 0px 50px 0px 0px;
  }
}

    
.contenedor-cat {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 350px;
}
@media (max-width: 756px) {
    .contenedor-cat {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 350px;}
    }
.categorias-h2 {
  color: rgb(255, 255, 255);
}

@media (max-width: 756px) {
    .categorias-h2 {
      color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      align-items: center}
    }

.cat-sub {
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media (max-width:  756px) {
    .cat-sub {
      display: flex;
    flex-direction: column;
      gap: 30px;
      justify-content: center;
    align-items: center;}
    }
.menu-cat {
  background: #252525;
  width: 130px;
  height: 130px;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 756px) {
    .menu-cat {
        
      background: #252525;
      width: 130px;
      height: 130px;
      border: none;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;}
    }
.img-cat1 {
  background: url(./unknown.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}
@media (max-width: 756px) {
    .img-cat1 {
        display: flex;
        flex-direction: column;
      background: url(./unknown.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 65px;
      height: 65px;}
    }
.img-cat2 {
  background: url(./burger\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}
@media (max-width: 756px) {
    .img-cat2 {
        display: flex;
        flex-direction: column;
      background: url(./burger\ 1.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 65px;
      height: 65px;}
    }
.img-cat3 {
  background: url(./unknown2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}
@media (max-width:  756px) {
    .img-cat3 {
        display: flex;
        flex-direction: column;
      background: url(./unknown2.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 65px;
      height: 65px;}
    }
.img-cat4 {
  background: url(./pizza\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}
@media (max-width: 756px) {
    .img-cat4 {
        display: flex;
        flex-direction: column;
      background: url(./pizza\ 1.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 65px;
      height: 65px;}
    }
.img-cat5 {
  background: url(./buritto\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}
@media (max-width: 756px) {
    .img-cat5 {
        display: flex;
        flex-direction: column;
      background: url(./buritto\ 1.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 65px;
      height: 65px;}
    }
.img-cat6 {
  background: url(./taco\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}
@media (max-width: 756px) {
    .img-cat6 {
        display: flex;
        flex-direction: column;
      background: url(./taco\ 1.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 65px;
      height: 65px;}
    }
.img-cat7 {
  background: url(./float\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
}
@media (max-width: 756px) {
    .img-cat7 {
        display: flex;
        flex-direction: column;
      background: url(./float\ 1.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 65px;
      height: 65px;}
    }
.recta-cat {
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  width: 20px;
  height: 3px;
  border-radius: 15px;
  border: none;
}
@media (max-width: 756px) {
    .recta-cat {
        display: flex;
        flex-direction: column;
      background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
      width: 20px;
      height: 3px;
      border-radius: 15px;
      border: none;}
    }
.p {
  background-color: #252525;
  color: white;
}
@media (max-width: 756px) {
    .p {
      background-color: #252525;
      color: white;}
    }